* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    color: azure;
}


nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 20px;
    background-color: rgb(0, 8, 36);
    height: 60px
}

ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    color: azure;
    gap: 20px;
}

ol {
    padding-left: 30px;
}

dl {
    padding-left: 20px;
}

a {
    transition: .3s;
    text-decoration: none;
}

a:link {
    color: #fff;
}

a:visited {
    color: darkkhaki;
}

a:hover {
    color: rgb(30, 187, 61);
}

a:active {
    color: darkcyan;
}

a:focus {
    color: cornsilk;
}

button {
    padding: 20px;
    cursor: pointer;
    transition: .2s;
}

button:hover,
button:focus {
    background-color: black;
    color: #fff;
}

dl {
    margin-bottom: 20px;
}